# macOS metadata
.DS_Store
._*
**/._*

index_bu.html
._android-icon-192x192.png
._apple-icon-57x57.png
._apple-icon-60x60.png
._apple-icon-72x72.png
._apple-icon-76x76.png
._apple-icon-114x114.png
._apple-icon-120x120.png
._apple-icon-144x144.png
._apple-icon-152x152.png
._apple-icon-180x180.png
._browserconfig.xml
._favicon-16x16.png
._favicon-32x32.png
._favicon-96x96.png
._favicon-256x256.png
._favicon.ico
._manifest.json
._mindfizz_slider_overlay.html
._ms-icon-70x70.png
._ms-icon-144x144.png
._ms-icon-150x150.png
._ms-icon-310x310.png
